/**
    ini adalah scss untuk tampilan jenis transaksi
    (3 Kolom layanan transaksi dari BRILink)
*/
.transaksi-pilih-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-konten {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    a {
        width: 100%;
    }
}
.transaksi-pilih-content {
    // padding-top: 50px;
    // padding-bottom: 30px;
    // padding-left: 70px;
    // padding-right: 30px;

    h2 {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        color: #a0a1a3;
        letter-spacing: 3px;
    }

    .baris-card-opsi {
        padding-top: 30px;

        .card-konten {
            width: 300px;
            min-height: 400px;
            padding: 15px;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            @media (max-width: 1200px) {
                width: 250px;
                min-height: 400px;
                padding: 15px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                align-items: baseline;
                justify-content: center;
                //
                // width: 100%;
                margin-bottom: 20px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }
            @media (max-width: 992px) {
                width: 100%;
            }
            .judul {
                .judul-atas {
                    font-family: "Roboto", sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                }

                .tunai {
                    // margin-top: -150px;
                }

                .judul-bawah {
                    font-family: "Roboto", sans-serif;
                    font-size: 30px;
                    margin-top: -15px;
                    font-weight: bold;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                }
            }

            button {
                cursor: pointer;
                display: block;
                border-style: none;
                background-color: #749bc3;
                color: #fff;
                // width: 200px;
                width: 100%;
                text-align: center;
                border-radius: 30px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 10px;
                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
        }
    }
}
